**
!Dockerfile
!build.gradle.kts
!commons/build.gradle.kts
!commons/src
!gradle.properties
!gradle/
!gradlew
!inventory-service/build.gradle.kts
!inventory-service/src
!order-api/build.gradle.kts
!order-api/src
!settings.gradle.docker
